// 
// Rougher films layout
// 
.rougher-films-layout {
	.film-item {
		// display: flex;
		// flex-flow: row nowrap;
		width: 100%;
		position: relative;


		@include media("<=tablet") {
			flex-flow: column nowrap;
		}

		.film-attribution {
			padding-top: $padding;
			text-align: center;
			width: 100%;

			p {
				margin: 0;
			}
			

			@include media("<=tablet") {
				padding-right: 0;
				padding-bottom: $padding;
			}

			.student {
				font-family: $serif;
				font-weight: 700;
			}

			.film-title {
				padding-top: $padding / 2;
			}
		}
	}
}