// 
// Thesis Project layout
// 

.thesis-project-layout {
	// display: flex;
	// align-items: center;
	// justify-content: center;
	.project-title-section {
		position: relative;
		margin-left: auto;
		margin-right: auto;
		// max-width: 65%;

		h2 {
			padding-bottom: $padding;
			text-align: left;
			display: inline;
			font-weight: 500;

			span {
				font-size: 0.8em;
				font-weight: 100 !important;
			}

		}
		h3 {

			text-align: left;
			display: inline;
			font-size: 1.2rem;
			text-align: center;
		}
	}

	.project-nav-section {
		position: relative;
		padding-bottom: $padding;

		@include media("<=tablet") {
			padding-bottom: $padding * 2;
		}

		.thesis-project-nav {
			display: inline;
			font-size: 18px;
			position: absolute;
			left: 0;


			@include media("<=tablet") {
				font-size: 16px;
				display: block;
				width: 100%;
				margin-top: $padding;
				position: relative;
				text-align: center;
			}

			&.right {
				left: auto;
				right: 0;
			}

			p {
				margin: 0;
			}
		}
	}
}