// 
// third Year project layout
// 
.third-year-project-layout {

	.project-content {
		position: relative;
	}

	.project-heading-section {
		// margin-top: -$gutter;

		@include media("<=tablet") {
			margin-top: -$gutter-mobile;
		}
		
		.header-image {
			// max-height: 80vh;
			// overflow: hidden;
			height: auto;

			picture {
				display: block;
				overflow: hidden;
				height: 100%;
				width: auto;
				
				// @include media("<=tablet") {
				// 	display: flex;
				// 	width: 100%;
				// 	height: auto;
				// }
				
				img {
					// max-width: 100%;
					max-height: 80vh;
					height: 100%;
					width: auto;
					margin: auto;

					@include media("<=tablet") {
						max-height: none;
						width: 100%;
						height: auto;
					}
					// object-fit: cover;
					// object-position: center;
				}
			}
		}

		h2 {
			// margin: 0;
			// text-align: center;
			// font-family: $sans-serif;
			// font-weight: 700;
			// text-transform: uppercase;
			// word-break: break-word;
			// -webkit-hyphens: auto;
			// -ms-hyphens: auto;
			// hyphens: auto;

		}
		h3 {
			text-align: center;
			word-break: keep-all;
			word-wrap: break-word;
			overflow-wrap: break-word;
			white-space: normal;
			hyphens: unset;
		}
	}

	.project-nav-section {
		padding-bottom: $padding;

		@include media("<=tablet") {
			padding-bottom: $padding * 2;
		}

		.third-year-project-nav {
			display: inline;
			font-size: 18px;


			@include media("<=tablet") {
				font-size: 16px;
				display: block;
				width: 100%;
				margin-top: $padding;
				position: relative;
				text-align: center;
			}

			&.right {
				position: absolute;
				right: 0;
			}
		}
	}
}