//
// Colour variables
//

$grey: #ccc;
$midgrey: #989898;
$darkgrey: #333333;
$blue: blue;

$shadow: 0 0px 6px -1px rgba(0,0,0,0.1), 0 0px 5px -1px rgba(0,0,0,.06);
$shadow-inner: inset 0 0px 6px -1px rgba(0,0,0,0.1), inset 0 0px 5px -1px rgba(0,0,0,.06);

//
$button-colors: (
  'black': (black, white),
  'grey': ($grey, $darkgrey),
  'white': (white, black)
);