//
// Typography variables
//

// see blocks
$serif: 'Cormorant Garamond', serif;
$sansserif: 'Roboto', sans-serif;

// font-faces
$sans-serif: 'Roboto', sans-serif !default;
$proxima-nova: 'proxima-nova', sans-serif;

$body-line-height: 1.5;
$heading-line-height: 1.15;