//
// Site header
//

$header-height: 75px;

#header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 0;
    background: white;
	// padding-bottom: $header-height;
	// box-shadow: $shadow;

    &.menu-open {
        .columns {
			.column {
				&.menus {
					pointer-events: auto;
					max-height: 100vh;
					// box-shadow: $shadow-inner;
					box-shadow: $shadow;

					// transition-timing-function: ease-in-out;
					// transition-duration: 0.8s, 0.2s;

					// transition-property: max-height, box-shadow;
					// transition-delay: 0s, 0s; // no delay on shadow appear
				}
			}
        }
    }

    .columns {
		.header-wrapper {
			background-color: white;
			position: relative;
			z-index: 1000;
			box-shadow: $shadow;
		}
		.header-content {
			position: relative;
			max-width: $content-width;
			margin: auto;
			
			.column {
				display: inline-block;
				vertical-align: top;

				&.logo {
					a {
						display: flex;
						transition: 0.6s;

						img {
							display: block;
							margin: 15px 0px;
							transition: $timing;
						
							&:hover{
								transform: scale(1.05);
							}

							@include media("<=tablet") {
								margin: 0;
								padding: 5px 0;
							}
						}
					}

					.menu-toggle {
						position: absolute;
						top: 0px;
						right: 0px;
						margin: 15px 0;

						@include media("<=tablet") {
							margin: 0;
						}
						
						width: $header-height;
						height: $header-height;
						display: block;

						cursor: pointer;

						background-image: url('assets/images/icons/menu.svg');
						background-size: 50%;
						background-repeat: no-repeat;
						background-position: right;

						&.white-icons {
							background-image: url('assets/images/icons/menu-white.svg');
						}

						&.active {
							background-image: url('assets/images/icons/menu-close.svg');

							&.white-icons {
								background-image: url('assets/images/icons/close-white.svg');
							}
						}
					}
				}
			}
		}


		.menu-wrapper.full-width-wrapper {
			@include media("<=tablet") {
				padding: 0 !important;
			}
		}

		.column {
			vertical-align: top;

			// to change back to push down follow comments
			&.menus {
				position: absolute; // change to relative
				background-color: #fff; // change to white
				width: auto; // change to 100%
				right: 0; // remove
				overflow: hidden;
				max-height: 0;

				// transition-timing-function: ease-in-out;
				// transition-duration: 0.8s, 0.6s;
				// transition-property: max-height, box-shadow;
				// transition-delay: 0s, 0.4s;

				box-shadow: none;

				text-align: center;
				pointer-events: none;
				z-index: 100;

				@include media("<=tablet") {
					width: 100%;
					height: 100vh;
				}

				.mainFunctionNav {
					padding: $padding; // remove
					// padding-top: $header-height;
					// padding-bottom: $header-height;
				}
			

				ul {
					margin: 0;
					padding: 0;
					vertical-align: top;
					width: 100%;
				
					&.images {
						margin-left: 0;
						margin-top: 30px;
					}
				
					li {
						list-style: none;
						// display: block;
						overflow: hidden;
						position: relative;

						.menu-header {
							font-size: 36px;
							color: white;
							font-weight: 900;
							line-height: 40px;
							padding-top: 40px;
							// display: block;
							position: relative;
							z-index: 50;

						}
					

						a {
							font-size: 18px;
							color: $darkgrey;
							letter-spacing: 3px;
							line-height: 2;
							position: relative;
							font-weight: 500;
							z-index: 50;

							&:hover {
								// font-weight: 800;
							}

							&.image {

								padding: 0;

								img {
									display: block;
									max-height: $header-height;
									padding: 15px;
									margin: 0 auto;
									
								}
							}
						}
					}
				}
			}
		}
    }
}
