// 
// Max Ex 25 page header
// 

.max-ex-25-page-header {
  padding: 64px 16px;
  text-align: center;

  // "Maximum Exposure 25"
  .exhibition-title {
    margin: 0 0 4px;
    font-size: 39px;
    line-height: $heading-line-height;
    font-weight: 900;
    font-family: $proxima-nova;
    color: rgba(black, .5);
    text-transform: uppercase;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(black, .5);
  }

  // e.g. "3rd Year Exhibition", "Digital Exposures"
  .page-title {
    margin: 0;
    font-size: 20px;
    font-weight: 900;
    font-family: $proxima-nova;
    color: black;
    text-transform: uppercase;
  }

  .button { margin-top: 28px; }
}