// 
// Max Ex 25 splash header
// 

.max-ex-25-splash-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  min-height: 100vh;

  // countdown timer + max ex 25 logo
  .area-A {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    pointer-events: none;

    // see timers/countdown-timer

    .countdown-timer {
      position: relative;
      top: 40px;
      left: -4px;
      margin-right: 16px;
    }

    .maximum-exposure-25-logo {
      display: block;
      margin: 0;
      width: 110px;
      height: 70px;
      background-image: url('assets/images/logos/max-ex-25.png');
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  // headings + text
  .area-B {
    position: relative;
    z-index: 2;
    flex-grow: 1;
    margin-top: 48px;

    // border 
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: -15px;
      display: none; // TEMP
      width: 2px;
      height: 100%;
      background-color: white;
    }

    .content-A {
      margin-bottom: 30px;

      .super-heading {
        margin-bottom: 16px;

        p {
          margin: 0;
          font-weight: 900;
          font-family: $proxima-nova;
          font-size: 16px;
          line-height: $heading-line-height;
          color: black;
          text-transform: uppercase;
        }
      }

      .heading {
        position: relative;
        display: block;
        margin: 0;
        font-weight: 900;
        font-family: $proxima-nova;
        font-size: 36px;
        line-height: $heading-line-height;
        color: rgba(white, .5);
        text-transform: uppercase;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: rgba(white, .5);

        &:after {
          content: '';
          position: absolute;
          z-index: 1;
          right: -53px;
          bottom: 0;
          display: none;
          width: 40px;
          height: 40px;
          background-image: url('assets/images/detail-line-plus.svg');
          background-position: center center;
          background-repeat: no-repeat;
          background-size: contain;
        }
      }
    }

    .content-B {

      .text {
        position: relative;
        bottom: -11px; // ~ visually aligns the text baseline with the vertical separator
        margin: 0;
        max-width: 600px;
        font-weight: bold;
        font-family: $serif;
        font-size: 24px;
        line-height: $body-line-height;
        color: white;
      }
    }
  }

  // sponsorship + Scotiabank Contact logo
  .area-C {
    position: relative;
    z-index: 2;
    margin-top: 64px;

    .footer-content {
      
      p {
        margin: 0;
        padding-right: 80px;
        font-family: $proxima-nova;
        font-size: 15px;
        line-height: $body-line-height;
        color: white;
      
        strong {
          font-weight: 600;
          letter-spacing: .16em;
          text-transform: uppercase;
        }

        a {
          font-weight: 600;
          font-family: $proxima-nova;
          font-size: 15px;
          color: #99cccc;

          &:hover { text-decoration: underline; }
        }
      }
    }

    .sponsor-logos {
      margin-top: 32px;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .sponsor-logo {
        display: block;
        margin-right: 10px;
        width: 80px;
        height: 80px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        
        &:last-child { margin-right: 0; }
      }

      .scotiabank-contact-photography-festival-logo {
        background-image: url('assets/images/logos/scotiabank-contact-photography-festival.png');
      }

      .akasha-logo {
        background-image: url('assets/images/logos/akasha-art-projects-white.png');
      }
    }
  }

  // background
  .area-D {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
  }

  @include media ('>mobile') {
    padding: 45px;

    .area-A {
      justify-content: flex-end;

      .countdown-timer {
        top: 10px;
        left: 0;
      }
      
      .maximum-exposure-25-logo {
        width: 200px;
        height: 125px;
      }
    }

    .area-B {
      display: flex;
      justify-content: center;
      max-height: 50vh;
      margin-top: 0;

      &:after {
        left: 50%;
        display: block;
      }

      .content-A,
      .content-B {
        flex-basis: 50%;
      }

      .content-A {
        margin-bottom: 0;
        padding-right: 32px;
        align-self: center;
        text-align: right;

        .super-heading {
          margin-bottom: 10px;

          p { font-size: 20px; }
        }

        .heading {
          padding-bottom: 40px;
          font-size: 45px;
        
          &:after { display: block; }
        }

        .text { font-size: 30px; }
      }

      .content-B {
        padding-left: 32px;
        align-self: flex-end;
      }
    }

    .area-C {
      display: flex;
      justify-content: center;
      align-items: center;

      .footer-content {
        p { padding: 0 80px; }
      }

      .sponsor-logos {
        margin-top: 0;
        justify-content: flex-start;
      }
    }
  }
}