// 
// Max Ex 25 local header
// 

.max-ex-25-local-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100vw;

  @include breakpoint('extra-small-display') {
    display: none;
  }
}