//
// Third Year Projects Header
//

.third-year-header {
	background-color: #fff;
	// padding-top: $padding;
	padding-bottom: $padding;
	padding-top: $padding;
	box-shadow: $shadow;
	
	// @include media("<=tablet") {
	// 	padding-bottom: $gutter-mobile;
	// 	// padding-bottom: $gutter-mobile / 2;
	// }

	a {
		display: inline-block;

		h2 {
			font-family: $sans-serif;
			letter-spacing: 5px;
			font-size: 1.5rem;
			font-weight: 500;

			text-align: left;
			display: inline-block;

			&:hover {
				text-decoration: underline;
			}
			
			@include media("<=tablet") {
				font-size: 1rem;
			}
		}
	}
}