// 
// Max Ex 25 page
// 

.max-ex-25-page {

  // :P (cut me some slack it's launch day)
  .hero .column .gallery .swiper-slide .year p { display: none; }

  // :P
  .sponsors {
    margin: 0;
    padding: 16px;
    background-color: #f2f2f2;

    p {
      margin-top: 0;
      font-weight: 900;
      font-family: $proxima-nova;
      color: black;
    }

    ul {
      li {
        margin: 13px;
        width: 12%;
      }
    }
  }

  p {
    &.font-proxima-nova {
      font-weight: 900;
      font-family: $proxima-nova;
    }
  }

  @include breakpoint('medium-tablet') {
    .sponsors {
      padding: 30px;

      ul {
        li { margin: 30px; }
      }
    }
  }

  @include breakpoint('extra-small-display') {
    margin-left: 320px; // ~ drawer margin
  }
}