//
// Base link styles
//

a {
	color: inherit;
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;

	&:hover,
	&:focus,
	&:active {
		color: inherit;
		text-decoration: none;
	}
	&:focus { outline: 0; }
}