	//
	// Base typography styles
	//

body {
	font-family: $sans-serif;
	font-size: 16px;
	line-height: $body-line-height;
	
	// anti-aliasing
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
	line-height: $heading-line-height;
}

	// headings
h2 {
	font-size: 38px;
	font-family: $serif;
	margin: 0;
	padding: 0;
	font-weight: 100;
	color: black;
	
	@include media (">mobile") {
		font-size: 40px;
	}
	
	@include media (">laptop") {
		font-size: 55px;
	}
}

h3 {
	font-size: 32px;
	font-family: $serif;
	margin: 0 0 $gutter-half;
	padding: 0;
	font-weight: 100;
	color: black;
	
	@include media (">mobile") {
		font-size: 30px;
	}
	
	@include media (">tablet") {
		font-size: 48px;
	}
}

	// body text
p {
	font-size: 20px;
	font-family: $sansserif;
	margin-bottom: 24px;
	padding: 0;
	font-weight: 300;
	color: $darkgrey;

	&:last-child { margin-bottom: 0; }
	
	@include media (">laptop") {
		font-size: 24px;
	}
	
	&.annotation{
		font-size: 16px;
		font-family: $serif;
		font-style: italic;
		color: $midgrey;
		text-align: right;
		margin: 5px 0 0 0;
	}
}


	// links
a {
	font-family: $sansserif;
	// text-decoration: none;
	color: black;
	margin: 0;
	padding: 0;
	transition: opacity $timing;

	&:hover {
		text-decoration: underline;
	}
	
	//   @include media (">laptop") {
	//     font-size: 14px;
	//   }

	// TODO move to /links?
	&.text-link {
		font-size: 14px;
		letter-spacing: 2px;
		margin-left: $gutter-half;
		display: inline-block;
		position: relative;
		transition: $timing;
		font-weight: 900;
		
		// icon
		&:before {
			content: '';
			position: absolute;
			top: 50%;
			left: -$gutter-half;
			margin: -4px 0 0 0;
			width: 25px;
			height: 8px;
			background: url('assets/images/icons/arrow-right.svg') no-repeat center center;
			transition: $timing;
		}
		
		// ~
		&:hover {
			color: black;
			margin-left: 50px;
				
			&:before { transform: translateX(5px); }
		}
	}
}

.copy {
	a:not(.text-link) {
		font-size: inherit !important;
		color: inherit;
		text-decoration: underline;
	}
}