//
// Block
//

.block {
	//
	padding-bottom: $gutter !important;

	@include media("<=tablet") {
		padding-bottom: $gutter-mobile;
	}

	* {
		// box-sizing: content-box;
		
		&:before,
		&:after {
			// box-sizing: content-box;
		}
	}

	// TODO debug TTFP 4+s > < 150ms... :/
	/*
	transition: opacity $timing;
	opacity: 0;

	&.load-out { opacity: 0; }
	&.loaded { opacity: 1; }
	
	img {
		transition: opacity $timing;
		opacity: 0;
		
		&.loaded { opacity: 1; }
	}
	*/
}