//
// Coloured section block
//

.coloured-section {
	font-size: 0;
	text-align: center;

	.colour-block {
		padding-bottom: $padding * 2;

		word-break: break-word !important;
		display: block;

		h3 {
			font-family: $sans-serif;
			font-weight: 700;
		}

		h4 {

			width: 60%;
			margin: auto;
			display: block;
			padding-top: $padding * 2;
			font-size: 2rem;
			font-family: $sans-serif;
			font-weight: 500;
			text-align: left;
			
			word-break: keep-all;
			word-wrap: break-word;
			overflow-wrap: break-word;
			white-space: normal;
			hyphens: unset;

			@include media("<=tablet") {
				font-size: 1.5rem;
				width: 100%;
			}
		}
	
		.column {
			display: inline-block;    
			vertical-align: top;
			
			@include media("<=tablet") {
				width: 100%;
			}
			
			&.image {
			
				img {
					max-height: 80vh;
					display: block;
					margin: 0 auto;
				}
			}
		}
	}
}