//
// Exhibition block
//

.exhibition {
  .column {
    display: flex;
    vertical-align: top;

    @include media("<=tablet") {
      display: block;
    }

    &.left {
      .colour { order: 1; }
      .image { order: 2; }
    }

    &.right {
      .colour { order: 2; }
      .image { order: 1; }
    }

    .colour {
      padding: $gutter-half;
      display: inline-block;
      width: 30%;

      @include media("<=tablet") {
        display: block;
        width: auto;
      }

      p {
        color: white;
        font-family: $serif;
        font-size: 32px;
        line-height: $heading-line-height;
      }

      a.text-link {
        color: rgba(white, .5);

        &:hover { color: white; }
        &:before { background: url('assets/images/icons/arrow-right-white.svg') no-repeat center center; }
      }

      .logo {
        max-width: 75px;
        margin: $gutter-half 0 0 0;
        display: block;
      }
    }

    .image {
      width: 70%;
      display: block;

      @include media("<=tablet") {
        display: block;
        width: auto;
      }

      picture {
        display: flex;
		overflow: hidden;
		height: 100%;
		width: auto;

        img {
          max-width: 100%;
        //   max-height: 80%;
        //   max-height: 85vh;
			height: 100%;
          object-fit: cover;
          width: auto;
        //   max-width: 100%;
          
          @include media ("<=tablet") {
            max-height: 40%;
            max-height: 40vh;
          }
        }
      }
    }
  }
}