//
// Full width image block
//

.full-width-image {
	// margin: $gutter-half;
	font-size: 0;
	text-align: center;
	
	// @include media("<=mobile") {
	// 	margin: $gutter-mobile;
	// }
	
	.column {
		display: inline-block;    
		vertical-align: top;
		
		@include media("<=tablet") {
			width: 100%;
		}
		
		&.image {
		
			img {
				max-height: 80vh;
				display: block;
				margin: 0 auto;
			}
		}

		&.gapless {
			img {
				max-height: none;
				width: 100vw;
				max-width: 100vw;
				display: block;
			}
		}
	}
}