//
// Full width gallery block
//

.full-width-gallery {
	.column {
		margin: auto;
		position: relative;
		height: 80vh;

		@include media("<=desktop") {
			width: 100%;
			height: auto;
		}

		.gallery {
			width: 100%;
			display: inline-block;
			height: 80vh;
			
			@include media("<=desktop") {
				width: 100%;
				height: auto;
			}
			
			.swiper-slide {
				height: 80vh;
				width: auto;

				@include media ("<=desktop") {
					width: 100%;
					height: auto;
				}
				
				img {
					height: 100%;
					display: block;
					height: 80vh;
					
					@include media ("<=desktop") {
						width: 100%;
						height: auto;
					}
				}
			}
		}
	}
}