//
// Full width gallery block
//

.full-width-gallery {
	display: inline-block;

	width: 100%;
	height: 100%;

	.swiper-container {
      	width: 100%;
      	height: 100%;

		.swiper-wrapper {

		  	display: flex;
			align-items: center;
			// justify-content: center;
		
			.swiper-slide {

				width: 100%;
				height: 100%;
				
				
				img {
					margin: auto;
					display: block;					
					width: 100%;
					height: auto;
					object-fit: contain;
					max-height: 80vh;
				}
				
				.image-caption {
					color: #fff;
					font-weight: 200;
					font-size: 18px;
					font-family: $sans-serif;
					text-align: center;
				}
			}
		}
	}
}