//
// Full width gallery block
//

.full-width-gallery {
	.column {
		margin: auto;
		position: relative;
		width: 100%;
		height: auto;

		.gallery {
			display: inline-block;

			width: 100%;
			height: auto;
			
			.swiper-slide {

				width: 100%;
				height: auto;
				
				img {
					display: block;					
					width: 100%;
					height: auto;
					object-fit: contain;
					max-height: 80vh;
  					margin-left: auto;
  					margin-right: auto;

				}
			}
		}
	}
}