//
// Hero block
//

.hero{
  margin: 0;
  font-size: 0;
  padding: 0;
  
  @include media("<=mobile") {
    height: auto;
  }
  
  .column {
    display: inline-block;
    vertical-align: top;
    width: 100%;

    @include media("<=tablet") {
      width: 100%;
    }

    .gallery {
      width: 100%;
      display: inline-block;
      height: 100%;
        
      @include media("<=desktop") {
        width: 100%;
      }

      .swiper-slide {
        height: 100%;
        height: 65vh;
        width: 100%;
        padding: 0 0;
        
        @include media("<=tablet") {
          height: auto;
          padding: 0;
        }
            
        picture {
          width: 100%;
          height: 100%;
          display: flex;
          
          @include media("<=tablet") {
              height: auto;
              display: block;
          }
          
          img {
            width: 100%;
            object-fit: cover;
            height: auto;
            
            @include media("<=tablet") {
              max-height: 50vh;
            }
          }
        }
            
        .year p {
			position: absolute;
			left: 0px;
			bottom: 180px;
			transform: rotate(90deg);
			vertical-align: bottom;
			display: block;
			color: white;
			font-size:11px;
			font-weight: 700;
			letter-spacing: 3px;
        }
            
        .card {
          	display: block;
          	bottom: 0px;
          	position: absolute;
			box-sizing: $shadow-inner;

			@include media("<=tablet") {
				position: relative;
			}
			  

			.text-container {
				padding: $padding 0;
				
				// text-align: right;

				p {
					color: $darkgrey;
					font-size: 24px;
					font-weight: 800;
					line-height: $heading-line-height;
					margin: 0;
				}
					
				a.text-link {
					color: $darkgrey;
					font-weight: 600;
					text-decoration: none;

					&:hover { text-decoration: underline; }
					&:before { background: url('assets/images/icons/arrow-right.svg') no-repeat center center; }
				}
			}
                
			.swiper-button-prev {
				left: -30px;

				@include media("<=tablet") {
					left: 30px;
					top: -10px;
					width: 15px;
					height: 15px;
				}
			}
          
			.swiper-button-next {
				right: -30px;
            
				@include media("<=tablet") {
					right: 30px;
					top: -10px;
					width: 15px;
					height: 15px;
				}
			}
		}
      }
    }
  }
}