.masonry-gallery {
	.masonry-item {
		position: relative;
		width: 32%;
		margin-bottom: $padding;

		@include media("<=tablet") {
			width: 49%;
		}

		@include media("<=mobile") {
			width: 100%;
		}

		.masonry-popup-click {
			cursor: pointer;
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;

			@include media("<=mobile") {
				display: none;
			}
		}
	}
}