//
// Paragraph multi-column block
//

	.paragraph-multi-column {
	margin: 0;
	font-size: 0;

	.column {
		display: block;
		width: 100%;

		&.constrain {
			margin: auto;
			width: 45%;

			@include media("<=tablet") {
				width: 65%;
			}

			@include media("<=mobile") {
				width: 85%;
			}
		}

		.copy {
			column-gap: $gutter;
			@include media("<=tablet") {
				column-gap: $gutter-mobile;
			}

			&.col-1 { column-count: 1; }
			&.col-2 {
				column-count: 2;

				@include media("<tablet") {
					column-count: 1;
				}
			}

			&.col-3 {
				column-count: 3;

				@include media("<laptop") {
					column-count: 2;
				}

				@include media("<tablet") {
					column-count: 1;
				}
			}
		}

		@include media("<=tablet") {
			width: 100%;
		}
		
		blockquote p {
			font-weight: 700;
			font-size: 20px;
		}
	}
}