//
// Section header block
//

.section-header{
	font-size: 0;
	display: flex;
	
	.max-width-container {
		display: flex;
		justify-content: space-between;
		flex-flow: row nowrap;

		font-size: 0;
		
		&.left {
			.column {
				&.headline {
					order: 1;
					padding-right: $gutter / 2;
				}
				&.text {
					order: 1;
					padding-left: $gutter / 2;
				}
			}
		}
		
		&.right {
			.column {
				&.headline {
					order: 2;
					padding-left: $gutter / 2;
				}
			
				&.text {
					order: 1;
					padding-right: $gutter / 2;
				}
			}
		}

		&.center {
			flex-flow: column nowrap;

			.column {
				width: 100%;

				&.headline {
					margin-left: auto;
					margin-right: auto;
					width: $text-width;
					order: 1;

					.box {
					h2 {
						text-align: center;
					}
				}
				}
			
				&.text {
					margin-left: auto;
					margin-right: auto;
					width: $text-width;
					order: 2;
					text-align: center;
				}
			}
		}

		&.full {
			.column {
				&.headline {
					order: 1;
					padding: 0;
					width: 100%;
				}
				&.text {
					order: 2;
					padding: 0;
					width: 0;
				}
			}
		}

		.column {
			display: inline-block;
			width: 50%;
			vertical-align: top;
			
			@include media("<=tablet") {
				width: 100%;
				padding-left: 0 !important;
				padding-right: 0 !important;
			}
			
			h2 {
				&:last-child { margin-bottom: 0; }
			}
			
			p {
				&:last-child { margin-bottom: 0; }
			}
		}
	}
}