//
// Sponsors block
//

.sponsors {
  
  h3 {
	font-family: $sans-serif;
	font-weight: 800;
    text-align: center;
    margin-top: $gutter-half;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
  
  ul {
    text-align: center;
    padding: 0;
    margin: 0;
  
    li {
      width: 6%;
      display: inline-block;
      margin: $gutter-mobile;
      vertical-align: middle;
      
      @include media("<=tablet") {
        width: 20%;
      }
      @include media("<=mobile") {
        width: 29%;
      }
      
      img {
        max-width: 100%;
        height:auto;
      }
    }
  }
}