//
// Thumbnail page navigation
//

.thumbnail-page-navigation {
	.max-width-container {
		.thumbnail-group-wrapper {
			display: flex;
			flex-flow: row wrap;
			// gap: 3%;
			margin-right: -$padding;
			width: auto;

			@include media("<=tablet") {
				margin-right: -$padding / 2;
			}

			.thumbnail-navigation-container {
				flex: 1 0 21%;
				position: relative;
				max-height: 30vw;
				width: 25%;
				overflow: hidden;
				margin-bottom: $padding;
				margin-right: $padding;
				// height: auto;

				// &:last-child {
				// 	margin-right: 0;
				// }

				@include media("<=tablet") {
					flex: 1 0 40%;
					max-height: 35vw;

					margin-bottom: $padding / 2;
					margin-right: $padding / 2;

					.thumbnail-cover  {
						display: flex !important;
					}
				}

				&:hover .thumbnail-cover {
					display: flex;
				}

				.thumbnail-cover {
					display: none;
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-color: #000;
					opacity: 0.95;
					z-index: 10;
					padding: $padding;

					justify-content: center;
					align-items: center;
					flex-flow: column wrap;

					overflow: hidden;
					text-overflow: ellipsis;

					@include media("<=tablet") {
						padding: $padding / 2;
					}

					h3 {
						font-size: 2rem;
						color: white;
						font-family: $sans-serif;
						font-weight: 600;
						text-align: center;
						margin-bottom: 8px;
						text-transform: uppercase;

						@include media("<=tablet") {
							font-size: 1.2rem;
						}
					}
				}

				picture {
					display: flex;
					overflow: hidden;
					height: 100%;
					width: auto;
					
					img {
						max-width: 100%;
						max-height: 100%;
						height: 100%;
						width: 100%;
						object-fit: cover;
						object-position: center;
					}
				}
			}
		}
	}
}