// 
// Max Ex 25 logo
// 

.max-ex-25-logo {
  display: block;
  margin: 0;
  width: 132px;
  height: 84px;
  background-image: url('assets/images/logos/max-ex-25.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}