//
// Dynamic card block
//

.dynamic-item-card {
	$card-max-height: calc(max(35vh, 420px));

	.card {
		box-shadow: $shadow;
		background: #fff;

		@include media("<=tablet") {
			max-height: none;
		}

		.column {
			display: flex;
			vertical-align: top;

			@include media("<=tablet") {
				width: 100%;
				display: block;
			}
			
			&.left {
				.card-image-section { order: 1; }
				.card-title-section { order: 2; }
				.card-description-section { order: 3; }
			}
			
			&.right {
				.card-image-section { order: 3; }
				.card-title-section {
					order: 1;
					margin: 0 $gutter-half 0 0;
				}
				.card-description-section { order: 2; }
			}

			.card-image-section {
				display: block;
				// vertical-align: top;
				width: 60%;
				max-height: $card-max-height;

				@include media("<=tablet") {
					max-height: none;
					width: 100%;
					display: block;
					height: auto;
				}
				
				picture {
					display: flex;
					overflow: hidden;
					height: 100%;
					width: auto;
					
					@include media("<=tablet") {
						display: block;
						height: auto;
					}
					
					img {
						// width: 500px;
						max-width: 100%;
          				max-height: 100%;
        				//   max-height: 85vh;
						height: 100%;
						width: 100%;
          				object-fit: cover;
          

						@include media("<=tablet") {
							height: auto;
							width: 100%;
							max-width: none;
							display: block;
						} 
					}
				}
			}
				
			.card-title-section {
				padding: $padding $gutter-half;
				width: 40%;
				max-height: $card-max-height;

				@include media("<=tablet") {
					width: 100%;
					display: block;
					height: auto;
					padding: $gutter-mobile;
				}

				h2 {
					color: $darkgrey;
					font-size: 48px;
					font-family: $serif;
					font-weight: 800;
					line-height: $heading-line-height;
					margin: 0;

					display: -webkit-box;
  					-webkit-line-clamp: 3;
  					-webkit-box-orient: vertical;

					overflow: hidden;

					text-decoration: none;

					&:last-child { margin-bottom: 0; }
					&:hover {
						text-decoration: underline;
					}
				}

				a.text-link {
					vertical-align: bottom;
					color: $darkgrey;
					font-weight: 600;
					text-decoration: none;
					&:hover { text-decoration: underline; }
					&:before { background: url('assets/images/icons/arrow-right.svg') no-repeat center center; }
				}

				p {
					// padding-top: $padding;
					line-height: 1.5;

					display: -webkit-box;
  					-webkit-line-clamp: 6;
  					-webkit-box-orient: vertical;

					overflow: hidden;

					@include media("<=tablet") {

						padding-top: 0;
					}
				}
			}
		}
	}
}