// 
// Masonry Item
// 

$grid-spacing: 1%;
$default-height: 800px;

.masonry-item {
	position: relative;
	width: 32%;
	margin-bottom: $padding;
	height: $default-height;

	@include media("<=tablet") {
		width: 49%;
	}

	@include media("<=mobile") {
		width: 100%;
	}

	.pop-up-click {
		position: absolute;
		display: block;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		cursor: pointer;
		z-index: 99;
		pointer-events: auto;

		@include media("<=tablet") {
			display: none;
			cursor: default;
		}

	}

  	.card-content {
	  	width: 100%;

		@include media(">=tablet") {
			&:hover .card-cover  {
				display: flex;
			}
		}

	  	.card-cover {
			display: none;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: #000;
			opacity: 0.95;
			z-index: 10;
			padding: $padding;

			justify-content: center;
  			align-items: center;
			flex-flow: column wrap;

			overflow: hidden;
   			text-overflow: ellipsis;

			h3 {
				font-size: 28px;
				color: white;
				font-family: $sans-serif;
				font-weight: 600;
				text-align: center;
				margin-bottom: 8px;
				text-transform: uppercase;
			}

			p {
				font-size: 18px;
				display: inline;
				color: white;
				text-align: center;
				text-transform: uppercase;
			}
		}

		.card-image {
			position: relative;
			width: 100%;
			height: auto;

			img {
				position: relative;
				width: 100%;
				height: $default-height;

				&.loaded {
					height: auto;
				}
			}
		}

		p {
			@include media("<=tablet") {
				display: block;
			}

			display: none;
			margin: 0;
			// font-family: $proxima-nova;
			font-size: 12px;
			line-height: $heading-line-height;
			text-transform: uppercase;

			&.student-name {
				padding-top: 6px;
				font-weight: 900;
				font-size: 14px;
			}
		}
	}

	
}