//
// Site footer
//

#footer {
  
	margin: auto;
		// position: absolute;
		position: absolute;
   	bottom: 0px;
	   font-size: 0;

	.columns{
		

		font-size: 0;
		.column{
			display: inline-block;
			vertical-align: top;
			
			&.logos{
				width: 50%;

				.logo-nav {
					display: flex;

					img {
						margin: 0;

						padding-right: $padding;
						padding-left: 0;

						@include media("<=tablet") {
							padding-right: $padding / 2;
							padding-left: $padding / 2;
						}
					}

					@include media("<=tablet") {
						justify-content: center;
						align-items: center;
					}
				}
				
				@include media("<=tablet") {
					display: block;
					width: 100%;
					text-align: center;
				}
				
			}
			&.sites{
				width: 50%;
				
				@include media("<=tablet") {
					display: block;
					width: 100%;
				}
				
			}
		}
	}

	.menu {

		display: inline-block;
		list-style: none;
		margin: 0;
		padding: 0;
		
		li{
			a{
				font-size: 14;
				text-transform: uppercase;
			}
		}	
		
		&.site-link{
			text-align: right;
			display: inline-block;
			vertical-align: top;
			position: absolute;
			padding-bottom: $gutter;
			right: 0;
			
			@include media(">tablet") {
			
				&:nth-child(1){
					// width: 80%;
				}
				&:nth-child(2){
					// width: 20%;
					text-align: right;
					li{
						width: 50%;
					}
				}
			}
			@include media("<=tablet") {
				text-align: center;
				display: block;
				width: 100%;
				margin: $gutter-half 0;
				
			}
			
			li{
				display: inline-block;
				vertical-align: top;
				// width: 25%;
				@include media("<=mobile") {
					width: 50%;
				}
				
				a{
					// color: $darkgrey;
					font-weight: bold;
					padding: 15px;
					padding-right: 0;
					padding-left: $padding;
					display: block;
					font-size: 12px;
					transition: $timing;

					@include media("<=tablet") {
						padding-right: $padding / 2;
						padding-left: $padding / 2;
					}
					
					&:hover{
						// color: $midgrey;
					}
				}
				
				ul{
					margin: 0;
					padding: $gutter-half 0 0;
					position: relative;

					&:before{
						content: '';
						position: absolute;
						top: 15px;
						left: 15px;
						margin: 0;
						width: 10px;
						height: 2px;
						// background-color: #000;
						transition: $timing;
						@include media("<=mobile") {
							left: 50%;
							margin: 0 0 0 -5px;
						}
						
					}
					
					li{
						display: block;
						width: 100%;

						a {
							text-transform: none;
							// color: $midgrey;
							padding: 0 15px;
							font-weight: normal;
							font-size: 14px;
							
							&:hover{
								// color: $darkgrey;
							}
							
						}
					}
				}
				
			}
		}
		
	}
}