// 
// Project sections
// 

.project-sections {
  display: flex;
  height: calc(100vh - 70px); // 
  
  //
  .project-section {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 160px; // TODO @
    background-color: #2d2d2d; // fallback, should be overridden inline
    //min-width: 100vw;
    height: calc(100vh - 70px); // 

    // vignette
    &:after {
      content: '';
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: radial-gradient(circle, transparent 70%, black 180%);
      pointer-events: none;
    }

    // page header
    .max-ex-25-page-header {
      position: relative;
      padding: 16px;
      text-align: left;

      // line
      &:before {
        content: '';
        position: absolute;
        z-index: 1;
        top: 50%;
        right: -21px;
        width: 2px;
        height: 60vh;
        background-color: white;
        transform: translateY(-50%);
      }

      // +
      &:after {
        content: '';
        position: absolute;
        z-index: 2;
        bottom: -20px;
        right: -40px;
        width: 40px;
        height: 40px;
        background-image: url('assets/images/detail-line-plus.svg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
      }
    
      .exhibition-title {
        white-space: nowrap;
        color: rgba(white, .5);
        -webkit-text-stroke-color: rgba(white, .5);
      }
    
      .page-title { color: white; }
    }

    .project-content {
      margin-left: 100px; // !px
      padding: 40px;
      max-width: 440px;

      p { margin: 0; }

      a { text-decoration: none; }

      .student-name {
        margin: 0 0 12px;
        font-size: 50px;
        line-height: $heading-line-height;
        font-weight: 900;
        font-family: $proxima-nova;
        color: rgba(white, .5);
        text-transform: uppercase;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: rgba(white, .5);
      }
  
      .project-title {
        margin: 0 0 32px;
        font-style: italic;
        font-weight: normal;
        font-size: 30px;
        line-height: $heading-line-height;
        font-family: $serif;
        color: white;
      }
    }

    // see also backgrounds/frame-background
    .frame-background {
      margin-left: 100px; // !px
      box-shadow: 0 0 15px 3px rgba(black, .2);

      &:first-child { margin-left: 0; }

      .image {
        margin-left: 0;
        box-shadow: 0 0 5px rgba(black, .2);
      }
    }

    // image
    .image {
      display: block;
      margin-left: 100px; // !px

      &:first-child { margin-left: 0; }

      &.size-full-height {
        img { height: 100vh; }
      }

      //
      img {
        max-width: 80vw;
        max-height: 80vh;

        // TEST
        background-color: black;
      }
    }
  }

  @include breakpoint('extra-small-display') {
    height: 100vh;

    .project-section { height: 100vh; }
  }
}