//
// Body styles
//

body {
//   margin: 0 auto;
	margin:0;
	padding:0;
	height:100%;
	padding-bottom: -60px;
	line-height: 1;

	&.overflow-y-disable { overflow-y: hidden; }

	@include media("<tablet") {
		// margin-top: $header-height - $header-height / 10;
	}
}

main {
	min-height:100vh;
	height:100%;
	position:relative;

	padding-bottom: 135px;
}