//
// Max width elements
//

.full-width-wrapper {
	font-size: 0;
	width: 100%;
	padding-left: $gutter;
	padding-right: $gutter;

	@include media("<=tablet") {
		padding-left: $gutter-mobile;
		padding-right: $gutter-mobile;
	}
	
	.max-width-container {
		margin: 0 auto;
		position: relative;
		width: 100%;
		max-width: $content-width;
	}
}