// 
// Portal Page
// 

$portal-item-size: calc(100% / 3);

.portal-page {
  	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-width: 100%;
	height: 100%;
	min-height: 100%;

	.portal-container {
		display: flex;
		flex-wrap: nowrap;
		flex-direction: row;
		height: 100%;

		@include media("<=tablet") {
			flex-direction: column;
		}

		.portal-item {
			width: $portal-item-size;
			height: 100%;
			display: flex;
			cursor: pointer;

			&:hover .image-cover {
				opacity: 0.8;
			}

			&:hover .portal-title {
				text-decoration: underline;
				color:#222222;    
				text-shadow: 1px 0 #222222;
				letter-spacing:1px;
				font-weight:bold;
			}

			&:hover .portal-description {
				display: block !important;
			}

			@include media("<=tablet") {
				height: $portal-item-size;
				width: 100%;
			}

			.background-image {
				position: relative;
				top: 0;
				left: 0;
				box-sizing: border-box;
    			width: 100%;
    			flex: none;
				height: 100%;
				width: 100%;
				overflow: hidden;

				// @include media("<=tablet") {
				// 	max-height: none;
				// 	width: 100%;
				// 	display: block;
				// 	height: $portal-item-size;
				// }
				
				picture {
					display: flex;
					overflow: hidden;
					height: 100%;
					width: auto;
					
					@include media("<=tablet") {
						display: block;
						height: auto;
					}
					
					img {
          				max-height: 100%;
						height: 100%;
						width: 100%;
          				object-fit: cover;
        
						@include media("<=tablet") {
							height: auto;
							width: 100%;
							max-width: 100%;
							display: block;
						} 
					}
				}
			}

			.image-cover {
				z-index: 10;
				box-sizing: border-box;
				flex: none;
    			width: 100%;
				height: 100%;
				margin-left: -100%;
				
				background-color: #fff;
				opacity: 0.9;
			}

			.portal-text {
				z-index: 10;
				box-sizing: border-box;
    			flex: none;
				margin-left: -100%;
				width: 100%;
				height: 100%;

				display: flex;
				flex-wrap: nowrap;
				flex-direction: column;

				justify-content: center;
    			align-items: center;

				padding-left: $padding;
				padding-right: $padding;
				z-index: 10;

				.portal-title {
					text-align: center;
					font-weight: 900;
					word-break: break-word;
					word-spacing: 100vw;
				}

				.portal-description {
					margin-top: $padding;
					word-break: break-all;
					width: 100%;
					white-space: wrap;
					display: none;
					font-weight: 500;
				}

			}
		}
	}
}