//
// Tile
//

.tile {
	position: relative;
	
	.tile-content {
		p {
			margin: 0;
			font-family: $serif;
			font-style: italic;
			font-size: 15px;
			color: white;

			a {
				font-family: $serif;
				font-style: italic;
				font-size: 15px;
				color: white;
				text-decoration: underline;
			}
		}
	}
	
	.tile-image {	
		&,
		img {
			display: block;
			width: 100%;
			height: auto;
		}
	}
}