// 
// Cards grid
// 

.grid-sizer {
	width: 2%;
}

.grid-title-section {
	padding-bottom: $gutter;

	h2 {
		font-size: 3rem;
		text-align: center;
		font-family: $sans-serif;
		font-weight: 700;
		text-transform: uppercase;
	}
}

.cards-grid {
	// setup done with masonry.js
}