// 
// Project cards grid
// 

.project-cards-grid {
  padding: 0 16px 24px;

  @include breakpoint('medium-tablet') {
    padding: 0 24px 32px;
  }

  @include breakpoint('extra-small-display') {
    padding: 0 32px 48px;
  }
}