	//
	// Carousel
	//

.swiper-container {
	//width: 600px;
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next, .swiper-button-next, .swiper-container-rtl .swiper-button-prev  {
	background-image: url('assets/images/icons/arrow-right.svg');
	background-size: 32px;
	left: 0;
	right: auto;
	// bottom: 0
	top: 100%;
	margin-top: $padding / 2;

	width: 32px;
	height: 32px;

	transition: $timing;
	transform: rotate(180deg) scale(0.9);
	
	&:hover {
		transform: rotate(180deg) scale(1);
	}

	@include media("<=tablet") {
		left: 10px;    
	}
	
	//   @include media("<=mobile") {
	//       left: 10px;    
	//       padding: 12px;
	//       background-size: 24px;
	//   }
	
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
	right: 0;
	left: auto;
	transform: rotate(0deg) scale(0.9);
	
	&:hover {
		transform: rotate(0deg) scale(1);
	}
	
	@include media("<=mobile") {
		right: 10px;
	}
	
}

.swiper-button-prev.swiper-button-disabled, .swiper-button-next.swiper-button-disabled {
	opacity: 0;
	
}